Задача - получить бейслайн при поможи DNN (улучшить random forest)

In [25]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

%matplotlib inline

In [26]:
df = pd.read_csv('data/titanic/train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [27]:
y = df['Survived']
X = df.drop('Survived', axis = 1)
X_tr, X_test,  y_tr, y_test = train_test_split(X, y, train_size=0.8)
X.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [28]:
def to_float(x):
    def f(x):
        return pd.to_numeric(x, downcast='float')
    return f(x)
    

def prepare_dataframe(df):
    res = pd.get_dummies(df.iloc[:, [1, 3, 4]]).fillna(0)
    res = res.fillna({'Age': df['Age'].median()}).drop(['Sex_female'], axis=1)\
                    .rename(columns={'Sex_male':'Sex'})
    res['Sex'] = res['Sex'] - (res['Sex'].max() - res['Sex'].min()) / 2
    res['Age'] = res['Age'] - (res['Age'].max() - res['Age'].min()) / 2
    res['Pclass'] = res['Pclass'] - (res['Pclass'].max() - res['Pclass'].min()) / 2
    return res.apply(to_float)

X_tr = prepare_dataframe(X_tr)
X_test = prepare_dataframe(X_test)

In [31]:
model = tf.keras.Sequential([
    tf.keras.layers.Flatten(input_shape = (3,)),
    tf.keras.layers.Dense(64, activation = 'relu'),
    tf.keras.layers.Dense(32, activation = 'relu'),
    tf.keras.layers.Dense(16, activation = 'relu'),
    tf.keras.layers.Dense(8, activation = 'relu'),
    tf.keras.layers.Dense(4, activation = 'relu'),
    tf.keras.layers.Dense(1, activation = 'sigmoid')
])

model.compile(optimizer= tf.keras.optimizers.RMSprop(lr=0.003), 
              loss='binary_crossentropy', metrics=['accuracy'])
model.fit(X_tr, y_tr, epochs = 60, validation_data=(X_test, y_test), verbose=1)

Epoch 1/60
23/23 [==============================] - 0s 21ms/step - loss: 0.6896 - accuracy: 0.6067 - val_loss: 0.6850 - val_accuracy: 0.5810
Epoch 2/60
23/23 [==============================] - 0s 10ms/step - loss: 0.6611 - accuracy: 0.6264 - val_loss: 0.6734 - val_accuracy: 0.5978
Epoch 3/60
23/23 [==============================] - 0s 9ms/step - loss: 0.6444 - accuracy: 0.6222 - val_loss: 0.6851 - val_accuracy: 0.5978
Epoch 4/60
23/23 [==============================] - 0s 8ms/step - loss: 0.5901 - accuracy: 0.7121 - val_loss: 0.6278 - val_accuracy: 0.7207
Epoch 5/60
23/23 [==============================] - 0s 7ms/step - loss: 0.5726 - accuracy: 0.7191 - val_loss: 0.5197 - val_accuracy: 0.7318
Epoch 6/60
23/23 [==============================] - 0s 7ms/step - loss: 0.5430 - accuracy: 0.7626 - val_loss: 0.5911 - val_accuracy: 0.7095
Epoch 7/60
23/23 [==============================] - 0s 8ms/step - loss: 0.5303 - accuracy: 0.7795 - val_loss: 0.5061 - val_accuracy: 0.7765
Epoch 8/60
23/23 [==============================] - 0s 7ms/step - loss: 0.5078 - accuracy: 0.7823 - val_loss: 0.4697 - val_accuracy: 0.7765
Epoch 9/60
23/23 [==============================] - 0s 12ms/step - loss: 0.4990 - accuracy: 0.7739 - val_loss: 0.4658 - val_accuracy: 0.7709
Epoch 10/60
23/23 [==============================] - 0s 9ms/step - loss: 0.4967 - accuracy: 0.7837 - val_loss: 0.5157 - val_accuracy: 0.7374
Epoch 11/60
23/23 [==============================] - 0s 10ms/step - loss: 0.4947 - accuracy: 0.7865 - val_loss: 0.4390 - val_accuracy: 0.8212
Epoch 12/60
23/23 [==============================] - 0s 10ms/step - loss: 0.4916 - accuracy: 0.7739 - val_loss: 0.6704 - val_accuracy: 0.7430
Epoch 13/60
23/23 [==============================] - 0s 8ms/step - loss: 0.4809 - accuracy: 0.7823 - val_loss: 0.4335 - val_accuracy: 0.7877
Epoch 14/60
23/23 [==============================] - 0s 10ms/step - loss: 0.4782 - accuracy: 0.7725 - val_loss: 0.6010 - val_accuracy: 0.7095
Epoch 15/60
23/23 [==============================] - 0s 10ms/step - loss: 0.4576 - accuracy: 0.7739 - val_loss: 0.6665 - val_accuracy: 0.7207
Epoch 16/60
23/23 [==============================] - 0s 10ms/step - loss: 0.4794 - accuracy: 0.7781 - val_loss: 0.4520 - val_accuracy: 0.8156
Epoch 17/60
23/23 [==============================] - 0s 12ms/step - loss: 0.4733 - accuracy: 0.7851 - val_loss: 0.4321 - val_accuracy: 0.7933
Epoch 18/60
23/23 [==============================] - 0s 9ms/step - loss: 0.4632 - accuracy: 0.7753 - val_loss: 0.4805 - val_accuracy: 0.7486
Epoch 19/60
23/23 [==============================] - 0s 10ms/step - loss: 0.4710 - accuracy: 0.7781 - val_loss: 0.5092 - val_accuracy: 0.7654
Epoch 20/60
23/23 [==============================] - 0s 10ms/step - loss: 0.4638 - accuracy: 0.7851 - val_loss: 0.5100 - val_accuracy: 0.7318
Epoch 21/60
23/23 [==============================] - 0s 12ms/step - loss: 0.4597 - accuracy: 0.7739 - val_loss: 0.4427 - val_accuracy: 0.7654
Epoch 22/60
23/23 [==============================] - 0s 10ms/step - loss: 0.4600 - accuracy: 0.7851 - val_loss: 0.4691 - val_accuracy: 0.8101
Epoch 23/60
23/23 [==============================] - 0s 9ms/step - loss: 0.4657 - accuracy: 0.7767 - val_loss: 0.4478 - val_accuracy: 0.7765
Epoch 24/60
23/23 [==============================] - 0s 8ms/step - loss: 0.4502 - accuracy: 0.7921 - val_loss: 0.4476 - val_accuracy: 0.7765
Epoch 25/60
23/23 [==============================] - 0s 8ms/step - loss: 0.4635 - accuracy: 0.7781 - val_loss: 0.4561 - val_accuracy: 0.7709
Epoch 26/60
23/23 [==============================] - 0s 8ms/step - loss: 0.4583 - accuracy: 0.7851 - val_loss: 0.4531 - val_accuracy: 0.7598
Epoch 27/60
23/23 [==============================] - 0s 14ms/step - loss: 0.4580 - accuracy: 0.7837 - val_loss: 0.4484 - val_accuracy: 0.7765
Epoch 28/60
23/23 [==============================] - 0s 10ms/step - loss: 0.4537 - accuracy: 0.7795 - val_loss: 0.4451 - val_accuracy: 0.7765
Epoch 29/60
23/23 [==============================] - 0s 10ms/step - loss: 0.4721 - accuracy: 0.7809 - val_loss: 0.4395 - val_accuracy: 0.8156
Epoch 30/60
23/23 [==============================] - 0s 12ms/step - loss: 0.4498 - accuracy: 0.7978 - val_loss: 0.4379 - val_accuracy: 0.8156
Epoch 31/60
23/23 [==============================] - 0s 9ms/step - loss: 0.4604 - accuracy: 0.7781 - val_loss: 0.4431 - val_accuracy: 0.7765
Epoch 32/60
23/23 [==============================] - 0s 11ms/step - loss: 0.4506 - accuracy: 0.7795 - val_loss: 0.4779 - val_accuracy: 0.7933
Epoch 33/60
23/23 [==============================] - 0s 8ms/step - loss: 0.4575 - accuracy: 0.7978 - val_loss: 0.4512 - val_accuracy: 0.8156
Epoch 34/60
23/23 [==============================] - 0s 10ms/step - loss: 0.4543 - accuracy: 0.7893 - val_loss: 0.4857 - val_accuracy: 0.8101
Epoch 35/60
23/23 [==============================] - 0s 11ms/step - loss: 0.4500 - accuracy: 0.8020 - val_loss: 0.4452 - val_accuracy: 0.7765
Epoch 36/60
23/23 [==============================] - 0s 13ms/step - loss: 0.4493 - accuracy: 0.7767 - val_loss: 0.5265 - val_accuracy: 0.8045
Epoch 37/60
23/23 [==============================] - 0s 10ms/step - loss: 0.4494 - accuracy: 0.7837 - val_loss: 0.5048 - val_accuracy: 0.7374
Epoch 38/60
23/23 [==============================] - 0s 10ms/step - loss: 0.4568 - accuracy: 0.7879 - val_loss: 0.4435 - val_accuracy: 0.7765
Epoch 39/60
23/23 [==============================] - 0s 10ms/step - loss: 0.4477 - accuracy: 0.7893 - val_loss: 0.4924 - val_accuracy: 0.8045
Epoch 40/60
23/23 [==============================] - 0s 10ms/step - loss: 0.4530 - accuracy: 0.7879 - val_loss: 0.4745 - val_accuracy: 0.7430
Epoch 41/60
23/23 [==============================] - 0s 11ms/step - loss: 0.4449 - accuracy: 0.7795 - val_loss: 0.4586 - val_accuracy: 0.7765
Epoch 42/60
23/23 [==============================] - 0s 12ms/step - loss: 0.4436 - accuracy: 0.7963 - val_loss: 0.5544 - val_accuracy: 0.8045
Epoch 43/60
23/23 [==============================] - 0s 14ms/step - loss: 0.4742 - accuracy: 0.7907 - val_loss: 0.4503 - val_accuracy: 0.7765
Epoch 44/60
23/23 [==============================] - 0s 11ms/step - loss: 0.4488 - accuracy: 0.7851 - val_loss: 0.4459 - val_accuracy: 0.7542
Epoch 45/60
23/23 [==============================] - 0s 10ms/step - loss: 0.4496 - accuracy: 0.7893 - val_loss: 0.4588 - val_accuracy: 0.8156
Epoch 46/60
23/23 [==============================] - 0s 12ms/step - loss: 0.4438 - accuracy: 0.7879 - val_loss: 0.4576 - val_accuracy: 0.8156
Epoch 47/60
23/23 [==============================] - 0s 10ms/step - loss: 0.4509 - accuracy: 0.7837 - val_loss: 0.4457 - val_accuracy: 0.7765
Epoch 48/60
23/23 [==============================] - 0s 13ms/step - loss: 0.4415 - accuracy: 0.7865 - val_loss: 0.4450 - val_accuracy: 0.7765
Epoch 49/60
23/23 [==============================] - 0s 10ms/step - loss: 0.4460 - accuracy: 0.8020 - val_loss: 0.4722 - val_accuracy: 0.7933
Epoch 50/60
23/23 [==============================] - 0s 9ms/step - loss: 0.4458 - accuracy: 0.7851 - val_loss: 0.4616 - val_accuracy: 0.8212
Epoch 51/60
23/23 [==============================] - 0s 9ms/step - loss: 0.4396 - accuracy: 0.7837 - val_loss: 0.4562 - val_accuracy: 0.7765
Epoch 52/60
23/23 [==============================] - 0s 9ms/step - loss: 0.4365 - accuracy: 0.7893 - val_loss: 0.4579 - val_accuracy: 0.7765
Epoch 53/60
23/23 [==============================] - 0s 10ms/step - loss: 0.4526 - accuracy: 0.7865 - val_loss: 0.4464 - val_accuracy: 0.8268
Epoch 54/60
23/23 [==============================] - 0s 10ms/step - loss: 0.4481 - accuracy: 0.7781 - val_loss: 0.4620 - val_accuracy: 0.7709
Epoch 55/60
23/23 [==============================] - 0s 8ms/step - loss: 0.4472 - accuracy: 0.7851 - val_loss: 0.4861 - val_accuracy: 0.8380
Epoch 56/60
23/23 [==============================] - 0s 9ms/step - loss: 0.4431 - accuracy: 0.7935 - val_loss: 0.4417 - val_accuracy: 0.7654
Epoch 57/60
23/23 [==============================] - 0s 11ms/step - loss: 0.4369 - accuracy: 0.7879 - val_loss: 0.4822 - val_accuracy: 0.8156
Epoch 58/60
23/23 [==============================] - 0s 12ms/step - loss: 0.4307 - accuracy: 0.7935 - val_loss: 0.4516 - val_accuracy: 0.7821

Epoch 59/60
23/23 [==============================] - 0s 10ms/step - loss: 0.4425 - accuracy: 0.7851 - val_loss: 0.4370 - val_accuracy: 0.7765
Epoch 60/60
23/23 [==============================] - 0s 6ms/step - loss: 0.4402 - accuracy: 0.7992 - val_loss: 0.4632 - val_accuracy: 0.8101

In [32]:
X_t1 = pd.read_csv('data/titanic/test.csv')
uid = X_t1['PassengerId']
X_t = prepare_dataframe(X_t1)

In [33]:
pred = pd.DataFrame({'PassengerId': uid,
                     'Survived' : model.predict(X_t)[:,0]})

pred['Survived'] = pred['Survived'].apply(lambda x: 0 if x < 0.5 else 1 )  
pred.head()
pred.to_csv('data/titanic/result.csv', index=False)